modules = ["python-3.11", "php-8.2", "java-graalvm22.3", "web", "bash"]
[nix]
channel = "stable-25_05"
packages = ["openssl", "postgresql", "unzip"]

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
